.otstup{
    margin-left: 200px;
    margin-right: 200px;
}
.otstup1{
    margin-left: 400px;
    margin-right: 400px;
}
.element-list{
    height: 100px;
    border-radius: 10px;
}
.otstup-btn{
    margin-left: 327px;
}
.container-sm1{
    width: 100px;
    height: 70px;
}
.container-sm2{
    padding-top: 0;
    padding-left: 0;
}
body{
    background-color: #ff0;
    background-image: url(../templates/images/bg.jpg);
    background-position: top;
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}