{% extends 'base.html' %}
{% block title %}
    <title>Main Page</title>
{% endblock %}
{% block body %}
    {% for el in articles %}
    <div class="otstup">
    <div class="list-group list-group-vertical justify-content-center">
        <li class="list-group-item d-flex justify-content-between align-items-start element-list">
            <div class="container-sm1">
                <h1>#1</h1>
            </div>
            <div class="container-sm">
                <a href="composition.html"><h1>{{ el.name_music }}</h1></a>
                <h5>Композитор: {{ el.cfname }}  {{ el.csname }}</h5>
                <h5>Сложность: {{ el.cmark }}</h5>
            </div>
        </li>
    </div>
    </div>
    <br>
    <br>
    {% endfor %}
{% endblock %}