{% extends 'base.html' %}
{% block body %}
    <div class="otstup1">
    <div class="container mt-5">
    <form method="post">
        <h1 class="h3 mb-3 fw-normal">Вход</h1>
        <br>
        <input type="text" name="email" id="email" class="form-control" placeholder="E-Mail"><br>
        <input type="text" name="password" id="password" class="form-control" placeholder="Password"><br>
        <input type="submit" class="btn btn-outline-primary btn-lg me-2 otstup-btn" value="Войти">
    </form>
    </div>
    </div>
{% endblock %}